<app-header></app-header>
<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title size="large">About</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Joshua Michael Waggoner</ion-card-title>
            <ion-card-subtitle>Full Stack/UI Developer</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-button color="primary" fill="outline" slot="end" routerLink="/contact">💻&nbsp;Hire Me!</ion-button>
            <p>I am a conscientious and resourceful software developer focusing on front end technologies. I have a
              can-do attitude, an eye for design, and can assess an organization’s needs and work to create
              complementary and robust web and mobile applications.</p>
            <p>I believe firmly in DRY (Don’t Repeat Yourself) and
              KISS (Keep It Simple Stupid) principles. I always strive to compose potent, reusable, and minimalist code,
              while implementing practical design patterns. I also study communication, both interpersonal and
              organizational, and am a firm believer in the power of “good” communication, trust, and teamwork. </p>
            <p>In my spare time, I’m a musician, synthesizer geek, cyclist (I’m currently learning bicycle maintenance),
              and writer. I’m also an avid film buff and I love board games and RPGs.
              I have been involved in Greyhound rescue for 10+ years.</p>
            <p>I was born
              in Evergreen, CO, but lived in Denver, CO for most of my life until I relocated to Spokane Valley, WA this
              last year with my partner and our greyhound Raven to start a new life together in the inland
              Northwest.
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<app-footer></app-footer>