<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="labels-list">
          <ion-list-header>Full Stack/UI Developer</ion-list-header>
          <ion-note>Spokane, WA, USA</ion-note>
          <ion-menu-toggle auto-hide="false" *ngFor="let page of appPages; let i = index" color="primary">
            <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[page.url]" lines="none"
              detail="true" [class.selected]="selectedIndex == i">
              <ion-icon color="primary" slot="start" [ios]="page.icon + '-outline'" [md]="page.icon + '-sharp'">
              </ion-icon>
              <ion-label>{{ page.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-list id="social-list">
          <ion-list-header>Social Media</ion-list-header>
          <ion-item *ngFor="let link of socialLinks" lines="none" class="social" href="{{ link.url }}" lines="none"
            detail="false" rel="noopener" target="_blank">
            <ion-icon color="dark" slot="start" [ios]="link.icon" [md]="link.icon">
            </ion-icon>
            <ion-label>{{ link.title }}</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>